<ul class="list-payments {{ class }}">
  <li>
    <img src="{{ 'ico-visa.png' | file_img_url: '100x' }}" alt="Visa Card logo" />
  </li>

  <li>
    <img src="{{ 'ico-mastercard.png' | file_img_url: '100x' }}" alt="Mastercard logo" />
  </li>

  <li>
    <img src="{{ 'ico-apple-pay.png' | file_img_url: '100x' }}" alt="Apple Pay icon" />
  </li>

  <li>
    <img src="{{ 'ico-google-pay.png' | file_img_url: '100x' }}" alt="Google Pay icon" />
  </li>

  <li>
    <img src="{{ 'ico-paypal.png' | file_img_url: '100x' }}" alt="Paypal logo" />
  </li>
</ul>
