{%- if _product != empty -%}
	<div class="product {{_size}} text-center flex {% unless _product.available %}product--sold-out{% endunless %}">
		{%- if _product.featured_image -%}
			<div class="product__media">
				<a href="{{ _product.url | within: collection }}" class="product__link">
					<img src="{{ _product.featured_image | img_url: '500x' }}" alt="">
				</a>
			</div><!-- /.product__media -->
		{%- else -%}
			<a href="{{ _product.url | within: collection }}">
				{{ 'image' | placeholder_svg_tag }}
			</a>
		{%- endif -%}

		<div class="product__content flex flex-column align-center">
			<h4 class="product__title">
				<a href="{{ _product.url | within: collection }}">
					{{- _product.title -}}
				</a>
			</h4><!-- /.product__title -->

			{%- if _subtitle != blank -%}
				<h5 class="product__subtitle">{{_subtitle | newline_to_br | remove: '<p>' | remove: '</p>'}}</h5><!-- /.product__subtitle -->
			{%- endif -%}

			<p class="product__info">
				{%- if _description != blank -%}
					{{_description | newline_to_br | remove: '<p>' | remove: '</p>'}}
				{%- else -%}
					{{- _product.content | strip_html | truncate: 35 -}}
				{%- endif -%}
			</p><!-- /.product__info -->
            <div class="landing-price-container">
              <h5 class="product__min-price">
                {{ 'products.product.from' | t }} 
                <span class="landing-min-price">
                  {{ _product.price_min | money }}
                  {% if _discount_price != blank %}
                    <svg><line x1="0" y1="100%" x2="100%" y2="0" /></svg>
                  {% endif %}
                </span>              
			  </h5>
              {% if _discount_price != blank %}
                <h5 class="landing-discount-price">
                  {{- _discount_price -}}
                </h5>
              {% endif %}
            </div>
			

				<div class="product__rate flex align-center justify-center">{% include 'trustbox-widget-product-mini-landing' %}</div><!-- /.product__rate flex align-center justify-center -->


			<a href="{{ _product.url | within: collection }}" class="btn">
				{{ 'products.product.buy_now' | t }}
			</a>
		</div>
	</div><!-- /.product__item -->
{%- endif -%}
{%- assign _product = '' -%}
