<section class="section section-products section--gray">
	<div class="shell">
		<div class="section__body">
			<div class="products cols">
				<div class="product col col--1of3 text-center">
					<div class="product__media">
						<a href="#">
							<img src="{{ 'product-image-1.jpg' | file_img_url: '500x' }}" alt="">
						</a>
					</div><!-- /.product__media -->

					<div class="product__content">
						<h5 class="product__title">
							<a href="#">YuMOVE Young & Active </a>
						</h5><!-- /.product__title -->

						<p>Supports active and growing joints</p>

						<div class="product__rate flex align-center justify-center">
							<img src="{{ 'ico-start.png' | file_img_url: '200x' }}" alt="" loading="lazy">

							<span>83 reviews</span>
						</div><!-- /.product__rate flex align-center justify-center -->
					</div><!-- /.product__content -->
				</div><!-- /.product col col-/-1of3 -->

				<div class="product col col--1of3 text-center">
					<div class="product__media">
						<a href="#">
							<img src="{{ 'product-image-2.jpg' | file_img_url: '500x' }}" alt="" loading="lazy">
						</a>
					</div><!-- /.product__media -->

					<div class="product__content">
						<h5 class="product__title">
							<a href="#">YuMOVE Dog</a>
						</h5><!-- /.product__title -->

						<p>Our original formula. Supports older dogs.</p>

						<div class="product__rate flex align-center justify-center">
							<img src="{{ 'ico-start.png' | file_img_url: '200x' }}" alt="">

							<span>547 reviews</span>
						</div><!-- /.product__rate flex align-center justify-center -->
					</div><!-- /.product__content -->
				</div><!-- /.product col col-/-1of3 -->

				<div class="product col col--1of3 text-center">
					<div class="product__media">
						<a href="#">
							<img src="{{ 'product-image-3.jpg' | file_img_url: '500x' }}" alt="" loading="lazy">
						</a>
					</div><!-- /.product__media -->

					<div class="product__content">
						<h5 class="product__title">
							<a href="#">YuMOVE PLUS for Dogs </a>
						</h5><!-- /.product__title -->

						<p>Extra-strength. For your senior dog</p>

						<div class="product__rate flex align-center justify-center">
							<img src="{{ 'ico-start.png' | file_img_url: '200x' }}" alt="" loading="lazy">

							<span>755 reviews</span>
						</div><!-- /.product__rate flex align-center justify-center -->
					</div><!-- /.product__content -->
				</div><!-- /.product col col-/-1of3 -->
			</div><!-- /.products cols -->
		</div><!-- /.section__body -->

		<footer class="section__foot">
			<a href="#" class="btn">Get Started</a>
		</footer><!-- /.section__foot -->
	</div><!-- /.shell -->
</section><!-- /.section section-products -->