<aside class="subscribe__aside">
	<a href="/" class="logo">
	  <img src="{{ 'logo_2x_682fdf1f-e765-4093-b079-6f69e88eafba.png' | file_img_url: '330x' }}" alt="YuMOVE logo" />
	</a>

	<div class="subscribe__aside-media hidden-xs hidden-sm" style="background-image: url({{ 'image1.jpg' | file_img_url: '1000x' }});">
		<img src="{{ 'image1.jpg' | file_img_url: '1000x' }}" alt="Jack Russel with ball" class="hidden" data-step="#register">
		<img src="{{ 'image2.jpg' | file_img_url: '1000x' }}" alt="Australian sheepdog peering" class="hidden" data-step="#details">
		<img src="{{ 'image3.jpg' | file_img_url: '1000x' }}" alt="Dog staring into the distance" class="hidden" data-step="#weight">
		<img src="{{ '4_Activity_level_Desktop.jpg' | file_img_url: '1000x' }}" alt="Child running with dog" class="hidden" data-step="#activity">
		<img src="{{ '5_Fussy_Eater_desktop_gettyimages-522796767-2048x2048.jpg' | file_img_url: '1000x' }}" alt="Two dogs in the sun" class="hidden" data-step="#eating">
		<img src="{{ '6_flow_type_of_eater_desktop_shutterstock_73012657_jpg.png' | file_img_url: '1000x' }}" alt="Two dogs running on the beach" class="hidden" data-step="#new-to-yumove">
		<img src="{{ 'image7.jpg' | file_img_url: '1000x' }}" alt="White retriever jumping" class="hidden" data-step="#confirm">
		<img src="{{ '8_flow_home_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#recommendation">
		<img src="{{ '9_Start_with_double_desktop_GettyImages-841883794.jpg' | file_img_url: '1000x' }}" alt="Dalmation looking up at owner" class="hidden" data-step="#recommendation2">
        <img src="{{ '8_flow_home_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#extras">
        <img src="{{ '8_flow_home_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#extras2">
		<img src="{{ '10_Yumove_plan_Desktop.jpg' | file_img_url: '1000x' }}" alt="Lady and dog looking at each other" class="hidden" data-step="#subscription-plan">
	</div><!-- /.subscribe__aside-media -->

	<div class="subscribe__aside-media hidden-lg hidden-md" style="background-image: url({{ 'mobile-image1.jpg' | file_img_url: '1000x' }});">
		<img src="{{ 'mobile-image1.jpg' | file_img_url: '1000x' }}" alt="Jack Russel with ball" class="hidden" data-step="#register">
		<img src="{{ 'mobile-image2.jpg' | file_img_url: '1000x' }}" alt="Australian sheepdog peering" class="hidden" data-step="#details">
		<img src="{{ 'mobile-image3.jpg' | file_img_url: '1000x' }}" alt="Dog and owner" class="hidden" data-step="#weight">
		<img src="{{ '4_Activity_level_mobile.jpg' | file_img_url: '1000x' }}" alt="Child running with dog" class="hidden" data-step="#activity">
		<img src="{{ '5_Fussy_Eater_mobile_gettyimages-522796767-2048x2048.jpg' | file_img_url: '1000x' }}" alt="Two dogs in the sun" class="hidden" data-step="#eating">
		<img src="{{ '6_flow_type_of_eater_mobile_shutterstock_73012657.jpg' | file_img_url: '1000x' }}" alt="Two dogs running on the beach" class="hidden" data-step="#new-to-yumove">
		<img src="{{ 'mobile-image7.jpg' | file_img_url: '1000x' }}" alt="White retriever jumping" class="hidden" data-step="#confirm">
		<img src="{{ '8_flow_mobile_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#recommendation">
		<img src="{{ '9_flow_start_with_double_mobile_GettyImages-841883794.jpg' | file_img_url: '1000x' }}" alt="Dalmation looking up at owner" class="hidden" data-step="#recommendation2">
        <img src="{{ '8_flow_mobile_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#extras">
        <img src="{{ '8_flow_mobile_getty.png' | file_img_url: '1000x' }}" alt="Golden labrador smiling" class="hidden" data-step="#extras2">
		<img src="{{ '10_Yumove_plan_mobile.jpg' | file_img_url: '1000x' }}" alt="Lady and dog looking at each other" class="hidden" data-step="#subscription-plan">
	</div><!-- /.subscribe__aside-media -->

	{%- include 'subscribe.nav-aside-extras', _class: 'hidden-xs hidden-sm' -%}

	<h2>
		Join the <br>
		#YuMOVEment
	</h2>
</aside><!-- /.subscribe__aside -->