{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_content = _section.content -%}

<section class="section section-slider section-testimonials landing-sub-testimonials">
  <div class="shell">
    {%- if section_title != blank or section_content != blank -%}
      <header class="section__head text-center">
        <h2 class="section__title">{{section_title}}</h2><!-- /.section__title -->

        {{section_content}}
      </header><!-- /.section__head -->
    {%- endif -%}

    <div class="section__body">
      <div class="slider-testimonials slider-testimonials--wide">
      <div class="slider__clip">
          <div class="slider__slides">
            {%- for block in section.blocks -%}
              {%- assign _block = block.settings -%}
              {%- assign _title = _block.title -%}
              {%- assign _testimonial = _block.testimonial -%}
              {%- assign _product = all_products[_block.product] -%}

              <div class="slider__slide">
                <div class="testimonial cols align-center">
				  <div class="testimonial__image">
                    <img src="{{block.settings.testimonial_image | img_url: 'master'}}">
                  </div>
                  <div class="testimonial__content" style="width: 100%;">

                    {%- if _title != blank -%}
                      <div class="testimonial__author text-center">{{_title}}</div>
                    <div class="tesitmonial_accordion_wrap">
                      	{% if block.settings.hover_title_1 != blank and block.settings.hover_text_1 != blank %}
                          <div class="testimonial_accordion_title">
                              {{block.settings.hover_title_1}}
                          </div>
                          <div class="testimonail_accordion_content">
                              {{block.settings.hover_text_1}}
                          </div>
                     	{% endif %}
                      	{% if block.settings.hover_title_2 != blank and block.settings.hover_text_2 != blank %}
                          <div class="testimonial_accordion_title">
                              {{block.settings.hover_title_2}}
                          </div>
                          <div class="testimonail_accordion_content">
                              {{block.settings.hover_text_2}}
                          </div>
                     	{% endif %}
                     	
                      	{% if block.settings.hover_title_3 != blank and block.settings.hover_text_3 != blank %}
                          <div class="testimonial_accordion_title">
                              {{block.settings.hover_title_3}}
                          </div>
                          <div class="testimonail_accordion_content">
                              {{block.settings.hover_text_3}}
                          </div>
                     	{% endif %}
                    </div>
                    {%- endif -%}
                  </div>
                 
                </div><!-- /.testimonial -->
              </div><!-- /.slider__slide -->
            {%- endfor -%}
          </div><!-- /.slider__slides -->
        </div><!-- /.slider__clip -->
      </div><!-- /.slider-testimonials -->
    </div><!-- /.section__body -->
  </div><!-- /.shell -->
</section><!-- /.section section-slider section--green -->

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Author Name"
        },
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "Testimonial Image"
        },
		  {
			"type": "text",
			"id": "hover_title_1",
			"label": "Title 1"
		  },
		  {
			"type": "textarea",
			"id": "hover_text_1",
			"label": "Text 1"
		  },
		  {
			"type": "text",
			"id": "hover_title_2",
			"label": "Title 2"
		  },
		  {
			"type": "textarea",
			"id": "hover_text_2",
			"label": "Text 2"
		  },
		  {
			"type": "text",
			"id": "hover_title_3",
			"label": "Title 3"
		  },
		  {
			"type": "textarea",
			"id": "hover_text_3",
			"label": "Text 3"
		  }
      ]
    }
  ]
}
{% endschema %}