{%- assign _section = section.settings -%}
{%- assign section_image = _section.image -%}

{%- assign section_mobile_image = _section.mobile_image -%}
{%- assign section_title = _section.title -%}
{%- assign section_content = _section.content -%}
{%- assign section_label = _section.label -%}
{%- assign section_url = _section.url -%}
{%- assign section_content_position = _section.content_position -%}

<div class="intro">
  <div class="shell">
    {%- if section_image != blank -%}
      <div class="intro__media{% if section_mobile_image != blank %} hidden-xs{% endif %}" style="background-image: url({{ section_image | img_url: '1600x' }});"></div><!-- /.intro__media hidden-xs -->
    {%- endif -%}

    {%- if section_mobile_image != blank -%}
      <div class="intro__media intro__media--mobile hidden-lg hidden-md hidden-sm" style="background-image: url({{ section_mobile_image | img_url: '1600x' }});"></div><!-- /.intro__media intro__media-/-mobile visible-xs -->
    {%- endif -%}

    <div class="flex {{section_content_position}}">
      <div class="intro__content">
        {%- if section_title != blank -%}
          <h1 class="intro_title">{{section_title}}</h1><!-- /.intro__title -->
        {%- endif -%}

        {%- if section_content != blank -%}
          <p class="intro_content" style="color: #fff;">{{section_content | newline_to_br | remove: '<p>' | remove: '</p>'}}</p>
        {%- endif -%}

        {%- if section_label != blank and section_url != blank -%}
          <a href="{{section_url}}" class="btn">
            {{section_label}} <img src="{{ 'noun_Paw_76186.png' | file_img_url: '20x' }}" alt="Paw silhouette">
          </a>
        {%- endif -%}
      </div><!-- /.intro__content -->
    </div><!-- /.flex -->
  </div><!-- /.shell -->
</div><!-- /.intro -->

{% schema %}
{
  "name": "Intro",
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default":"Save 30% on subscription"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default":"with regular free UK delivery"

    },
    {
      "type": "text",
      "id": "label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        {
          "value": "align-start justify-start",
          "label": "Top Left"
        },
        {
          "value": "align-start justify-center text-center",
          "label": "Top Center"
        },
        {
          "value": "align-start justify-end text-right",
          "label": "Top Right"
        },
        {
          "value": "align-center justify-start",
          "label": "Center Left"
        },
        {
          "value": "align-center justify-center text-center",
          "label": "Center Center"
        },
        {
          "value": "align-center justify-end text-right",
          "label": "Center Right"
        },
        {
          "value": "align-end justify-start",
          "label": "Bottom Left"
        },
        {
          "value": "align-end justify-center text-center",
          "label": "Bottom Center"
        },
        {
          "value": "align-end justify-end text-right",
          "label": "Bottom Right"
        }
      ],
      "default": "align-start justify-center text-center"
    }
  ],
  "presets": [
    {
      "name": "Intro",
      "category": "Homepage"
    }
  ]
}
{% endschema %}