<section class="section section-slider section-landing-ingredients section-brand-landing-icons section-cat-range section-cat-range--dog"> 
  <div class="shell">
    <div class="section-title section-title--sideways anamate">
      {{ section.settings.main_title }}
       <p class="section-sub-title">{{ section.settings.sub_title }}</p>
    </div>

    <div class="section__body">
        <div class="slider-signs">
            <div class="slider__clip">
                <div class="slider__slides">
                    {%- for block in section.blocks -%}
                        {%- assign _block = block.settings -%}
                        {%- assign block_image = _block.image -%}
                        {%- assign block_title = _block.title -%}
                        {%- assign block_label_colour = _block.label_colour -%}
                  
                        <div class="slider__slide anamate">
                            <div>
                              	<a href="{{_block.url}}" class="flex-column flex align-center justify-center">
                                {%- if block_image != blank -%}
                                    <div class="flex align-center justify-center slider-cat__image">
                                        <img src="{{ block_image | img_url: '300x' }}" alt="">
                                    </div><!-- /.feature__image -->
                                {%- endif -%}

                                {%- if block_title != blank or block_content != blank -%}
                              		<span class="{{block_label_colour}}">
										{%- if block_title != blank -%}
                                      		{{block_title}}
                                        {%- endif -%}
                              		</span>
                                {%- endif -%}
                              </a>
                            </div><!-- /.feature -->
                        </div>
                        {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
        
    </div>

  </div><!-- /.shell -->
</section>


{% schema %}
{
   "name":"Products Overview",
   "settings":[
      {
         "type":"text",
         "id":"main_title",
         "label":"Products Overview Title"
      },
      {
         "type":"text",
         "id":"sub_title",
         "label":"Products Overview Sub Title"
      }
   ],
   "blocks":[
      {
         "type":"product",
         "name":"Product",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Image"
            },
            {
               "type":"text",
               "id":"title",
               "label":"Label text"
            },
            {
               "type":"url",
               "id":"url",
               "label":"Product URL"
            },
            {
               "type": "select",
               "id": "label_colour",
               "label": "Label Colour",
               "options": [
                 {
                   "value": "product-label product-label--green",
                   "label": "YuMOVE Green"
                 },
                 {
                   "value": "product-label product-label--purple",
                   "label": "YuCALM Purple"
                 },
                 {
                   "value": "product-label product-label--blue",
                   "label": "YuDERM Blue"
                 },
                 {
                   "value": "product-label product-label--light-purple",
                   "label": "YuDIGEST Purple"
                 }
               ],
               "default": "product-label product-label--green"
            }
         ]
      }
   ]
}
{% endschema %}
