{%- assign _product = product.selected_or_first_available_variant -%}
  {%- assign _content = product.content | strip | replace: '<p><span>&lt;!-- split --&gt;</span></p>', '<p>&lt;!-- split --&gt;</p>' -%}
  {%- assign _content_parts = _content | split: '<p>&lt;!-- split --&gt;</p>' -%}
  {%- assign _content_parts_size = _content_parts | size -%}

  {%- section 'product-popup' -%}

  <section class="section section-product section--gray">
      <div class="shell">
          <div id="product" class="product product--single flex cols justify-between">
              <div class="col col--1of2">
                  {%- include 'product.media' -%}
              </div><!-- /.col col-/-1of2 -->

              <div class="col col--1of2">
                  {%- include 'product.variants.sample' -%}
              </div><!-- /.col col-/-1of2 -->
          </div><!-- /#product.product -->
      </div><!-- /.shell -->
  </section><!-- /.section section-product -->
  
  {%- include 'product.cols' -%}

  {%- section 'section-product' -%}
  {%- section 'reviews' -%}
  {%- section 'features' -%}
  {%- section 'faqs' -%}
  {%- section 'instagram' -%}


<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script type="text/javascript">
    var _learnq = _learnq || [];
	document.getElementById("add-to-basket").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});
</script>